@{
    Layout = "_LayoutRoot";
}

<div class="container-center bg-solid">
    <div class="login-container">
        <img class="m-b-md" src="~/img/fame_light.svg" alt="Fame and Partners" style="width: 212px" />
        @RenderBody()
    </div>
</div>
