@import '../vars.scss';

.notification-container {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;

    .notification {
        width: 300px;
        margin-bottom: 20px;
        padding: 20px 20px;
        border-radius: 2px;

        &.alert-danger {
            background-color: $color-red;
            color: $color-white;
        }

        &.alert-info {
            background-color: $color-white;
            color: $color-grey14;
            border: 1px solid $color-grey79;
        }

        &.alert-success {
            background-color: $color-green;
            color: $color-white;
        }

        &.alert-warning {
            background-color: $color-navy;
            color: $color-white;
        }

        img {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 14px;
            height: 14px;
            cursor: pointer;
        }
    }
}
